<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="mission">
        <ion-icon name="flash"></ion-icon>
        <ion-label>MISSION</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="tab2">
        <ion-icon name="apps"></ion-icon>
        <ion-label>HISTORY</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="tab3">
        <ion-icon name="apps"></ion-icon>
        <ion-label>RUN</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="tab4">
        <ion-icon name="apps"></ion-icon>
        <ion-label>INBOX</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="tab5">
        <ion-icon name="apps"></ion-icon>
        <ion-label>MORE</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
